section.carousel {

  .item {
    height: 600px;
    .item-inner {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat no-repeat;

      .item-content {
        text-align: center;
        width: 100%;

        h2 {
          text-align: center;
          display: inline-block;
          background: rgba(0, 0, 0, 0.5);
          margin: 0px;
          padding: 20px 50px;
          color: #fff;
          font: italic 30px/37px 'Libre Baskerville', 'Times New Roman', Times, serif;
        }
      }
    }
  }

  .carousel-control {
    position: absolute;
    top: 50%;

    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.4);
    border: none;

    cursor: pointer;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    font-weight: normal;

    &.left {
      left: 0px;
    }

    &.right {
      right: 0px;
    }

    span {
      line-height: 60px;
    }

  }

}
